# Global ignore rules for unnecessary files

# IDE files
.idea/
*.iml
*.ipr
*.iws
.sts4-cache
.vscode/

# Maven-specific files
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle-specific files (if applicable)
build/
.gradle/

# Logs and temporary files
*.log
*.tmp
*.swp

# Eclipse-specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# NetBeans-specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Helper files
HELP.md
mvnw.cmd
mvnw
maven-wrapper.properties
